{% form_theme form 'vues/theme/form_theme.html.twig' %}

<h2>{% block h2 %} {% endblock %}</h2>
<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="link_button">{% block buttonLabel %} {% endblock %}</button>
    {{ form_end(form) }}
</div>