{% form_theme serieForm 'vues/theme/form_theme.html.twig' %}

<h2>{% block h2 %} {% endblock %}</h2>
<div>
    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button class="link_button">{% block buttonLabel %} {% endblock %}</button>
    {{ form_end(serieForm) }}
</div>